node_modules
.env
package-lock.json
artifacts
# Hardhat files
/cache


# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
.openzeppelin
.deps
lib
artifacts_forge
cache_forge